@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    background: white;
}

section#header {
    position: relative;
    margin: 0;
    padding: 0;
    background: #F8F8F8;
    width: 100%;
}

.vh {
    height: 100vh;
}

.header-section {
    position: absolute;
    width: 100%;
}

.navbar-nav>li a {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: rgba(0, 0, 0, .5);
}

.banner {
    margin-top: 25px;
    position: relative;
}

.bg-image {
    right: 0;
    left: 150px;
}

.big-title {
    text-align: center;
    padding-top: 30px;
}

.big-title h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 51px;
    letter-spacing: 0.02em;
    color: #3A3F5C;
    margin-top: 100px;
    white-space: pre;
}

.order-button {
    background: linear-gradient(90deg, #8DDE8B 0%, #5DC153 100%);
    border-radius: 40px;
    height: 44px;
    width: 150px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.features {
    margin-top: 30px;
}

.features img {
    margin-left: 25px;
}

.call-center-menu {}

.order-button {
    text-decoration: none;
    color: #fff;
}

.order-button:hover {
    transition: ease-out;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: #fff;
}

#curve {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#curve path {
    fill: #fff;
}

section.sec2 {
    width: 100%;
    height: 100vh;
    background: #fff;
}

.broclli {
    position: absolute;
    right: 0;
    top: 100;
}

.order-now {}

.content {
    margin-top: 30px;
}

.categories {
    margin-top: 100px;
    margin-bottom: 80px;
}

.categories .btn {
    background: linear-gradient(90deg, #8DDE8B 0%, #5DC153 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.12);
    border-radius: 43px;
    text-decoration: none;
    margin-left: 20px;
    border: 0;
    width: 150px;
    height: 40px;
    text-align: center;
}

.categories .btn .activated {
    background: #F0F2F3;
}

.categories-title {
    text-align: center;
}

.categories-title h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 46px;
    /* identical to box height */
    color: #3A3F5C;
}

.categories-title p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3A3F5C;
}

.categories a {
    margin-bottom: 10px;
}

.card {
    border: 1.5px solid #EBEBEB;
    border-radius: 14px;
    transition: ease-out;
    margin-bottom: 20px;
}

.card a {
    text-decoration: none;
    color: #3A3F5C;
}

.card i {
    margin: 6px;
}

.card .card-link {
    margin: 25px;
    color: #5DC153;
}

.card .card-link:hover {
    color: #5DC153;
}

.card .card-img-top {
    border-radius: 14px 14px 0 0;
}

.card:hover {
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.13);
    transition: box-shadow 0.3s ease-in-out;
}

.food-set {
    margin-bottom: 40px;
}

.pagination {
    float: right;
    margin-right: 15px;
}

.pagination a {
    margin: 15px;
    background: #F0F2F3;
}

.pagination i {
    color: #878A9C;
}

.contact {
    margin-top: 200px;
    margin-bottom: 100px;
}

.contact-details {
    width: 700px;
    height: 249px;
    position: relative;
    z-index: 1;
    background: #F0F2F3;
    border-radius: 11px;
}

.contact-form {
    position: absolute;
    width: 459px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.12);
    border-radius: 11px;
    z-index: 2;
    top: -70px;
    right: -40px;
}

.contact-form input {
    background: #F0F2F3;
    border-radius: 23.5px;
    margin-bottom: 10px;
}

.contact-form textarea {
    background: #F0F2F3;
    border-radius: 23.5px;
}

.contact-form button {
    width: 200px;
    height: 40px;
    border-radius: 23.5px;
    border: none;
    color: white;
    background: linear-gradient(90deg, #8DDE8B 0%, #5DC153 100%);
}

.contact-form button:hover {
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.13);
    transition: box-shadow 0.3s ease-in-out;
}

.footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #7DCA7B 0%, #68BE66 100%);
    color: white;
}

.copyright a {
    color: white;
}